<div class="modal-header">
  <h4 class="modal-title">Gebruiker voor {{leiding.voornaam}} {{leiding.naam}}</h4>
  <button type="button" class="close" (click)="manageUserModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>

  </button>
</div>
<div class="modal-body">
  <div class="row">
    <button (click)="createUser()" *ngIf="!leiding.auth0Id" class="btn btn-success col-12">Nieuwe gebruiker aanmaken</button>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h4 class="col-12">Handmatig gebruiker koppelen</h4>
    </div>

    <div class="col-12">
      <form [formGroup]="linkUserFormGroup" (ngSubmit)="linkUser()">
 <mat-form-field class="col-8">
        <input formControlName="auth0Id" matInput placeholder="auth0 ID">

      </mat-form-field>
       <button type="submit" class="col-4 btn-success">Koppelen</button>
      </form>
     
      
     
    </div>

  </div>

</div>
<div class="modal-footer">

</div>