<div class="modal-header">
  <h4>Manueel toevoegen</h4>
  <button type="button" class="close" (click)="addOrderRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="orderForm" class="form-horizontal">
    <div class="form-group row">
      
        <mat-form-field class="col-4">
          <mat-label>Voor</mat-label>
          <input type="text" placeholder="Leider" aria-label="Leider" matInput formControlName="orderedFor"
            [matAutocomplete]="auto">

            <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
              <ng-container *ngIf="leadersLoading">
                <mat-option disabled>Laden...</mat-option>
              </ng-container>
              <ng-container *ngIf="leaders">
                <mat-option  *ngFor="let option of filteredLeaders | async" [value]="option">
                {{option.displayName}}
              </mat-option>
              </ng-container>
              
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-4"> 
          <mat-label>Drank</mat-label>
          <input type="text" placeholder="Drank" aria-label="Drank" matInput formControlName="drink"
            [matAutocomplete]="auto2">
      
          <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto2="matAutocomplete">
            <ng-container *ngIf="drinksLoading">
              <mat-option disabled>Laden...</mat-option>
            </ng-container>
            <ng-container *ngIf="drinks">
              <mat-option *ngFor="let option of filteredDrinks | async" [value]="option">
                {{option.displayName}}
              </mat-option>
            </ng-container>
      
          </mat-autocomplete>
        </mat-form-field>
      
      
        <mat-form-field class="col-4">
          <mat-label>Aantal</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field> 
    </div>
  </form>
</div>