<div class="row">
<div class="col-md-12">
  <h1 class="h1"> {{tak.naam}}</h1>
  <p>Volgorde: {{tak.volgorde}}</p>
<!--Actieknoppen-->
<div class="card card-accent-primary">
  <div class="card-header">
   Acties
  </div>
  <div class="card-body">
  <button type="button" class="btn btn-primary"  data-toggle="modal" (click)="openEditModal()"><i class="icon-pencil"> Wijzigen...</i></button> 
  <button type="button" class="btn btn-danger" [disabled]="hasLeiding" data-toggle="modal" (click)="openDeleteModal()"><i class="icon-trash"> Verwijderen...</i></button>
  <button type="button" class="btn btn-success pull-right"  data-toggle="modal" (click)="openAddModal()">
    <i class="icon-user-follow"> Persoon toevoegen...</i>
  </button>
  </div>
</div><!--Einde actieknoppen-->


<!--Tabel met leiding voor gekozen tak-->
<div class="card card-accent-primary">
  <div class="card-header">
    Personen in {{tak.naam}}
  </div>
<div class="table table-striped">
  <app-leiding-table [takId]="tak.id"></app-leiding-table>
</div>
</div>
</div>
</div>




<!--Modal voor het toevoegen van een persoon in een tak-->
<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  
    </div>
  </div>
</div>
