<div class="animated fadeIn">

  <div class="card card-accent-primary">
    <div class="card-header">
      Acties
    </div>
    <div class="card-body">
      <div class="btn-container"> 
       <div class="row">
      <button type="button" class="btn btn-success col-md-4" data-toggle="modal" (click)="openAddModal()"> 
        <i class="icon-plus"></i> Persoon toevoegen...
      </button>
      </div>
     <!-- <hr/>
      <div class="row select-container">
        <form>
      <select [(ngModel)]="chosenOption" name="action" class="form-control">
        <option *ngFor="let option of actions" [value]="option.code">{{option.friendlyMessage}}</option>
      </select> 
      </form>
      <button  type="button" class="btn btn-primary col-md-4">
        Uitvoeren 
      </button></div>
     <p>Disclaimer: de batchfunctie is momenteel nog niet actief.</p>-->
 </div>


  </div>
</div>
<div class="card card-accent-primary">
  <div class="card-header">
    Personen
  </div>
  <lib-search-bar></lib-search-bar>
 <app-leiding-table [displayedColumns]="displayedColumns"></app-leiding-table>
</div>

</div>