<form [formGroup]='addLeidingFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title">Persoon toevoegen aan "{{naam}}"</h4>
    <button type="button" class="close" (click)="addLeidingModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <fieldset>

      <div class="form-group">

        <mat-form-field class="col-12">
          <input matInput placeholder="Voornaam" id="voornaam_id" formControlName='voornaam'>
          <mat-error *ngIf='addLeidingFormGroup.get("voornaam").errors?.required && addLeidingFormGroup.get("voornaam").touched'>Dit veld is verplicht.</mat-error>
        </mat-form-field>

      </div>

      <div class="form-group">
        <mat-form-field class="col-12">
          <input matInput placeholder="Naam" id="naam_id" formControlName='naam'>
          <mat-error *ngIf='addLeidingFormGroup.get("naam").errors?.required && addLeidingFormGroup.get("naam").touched'>Dit veld is verplicht.</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="col-12">
          <input matInput placeholder="Email" id="email_id" formControlName='email'>
          <mat-error *ngIf='addLeidingFormGroup.get("email").errors?.email && addLeidingFormGroup.get("email").touched'>Geef een geldig emailadres</mat-error>
        </mat-form-field>
      </div>
    </fieldset>

  </div>
  <div class="modal-footer">

    <button type="submit" [disabled]="!addLeidingFormGroup.valid" class="btn btn-success">Toevoegen</button>
  </div>
</form>