<mat-toolbar class="top-nav" color="primary">
  <mat-toolbar-row class="nav mat-elevation-z6">
  <a routerLink="/totems" routerLinkActive="active" class="nav-link">Totemdatabank</a>
<span class="divider"></span>
<a routerLink="/totems" routerLinkActive="active" class="nav-link">Getotemiseerden</a>
<a routerLink="/tree" routerLinkActive="active" class="nav-link"> Stamboom</a>

<a routerLink="/animals" routerLinkActive="active" class="nav-link">Dieren</a>

<a routerLink="/adjectives" routerLinkActive="active" class="nav-link">Adjectieven</a>

<div class="float-right">
  <span class="nav-link authButton" *ngIf="!authService.isAuthenticated()" (click)="authService.login()">Inloggen</span>
<span class="nav-link authButton" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Uitloggen</span>
</div>


<span class="divider"></span>

  </mat-toolbar-row>
  <mat-toolbar-row class="primary-header">
   
<h1>{{titleService.title$ | async}}</h1>

  </mat-toolbar-row>
  <mat-toolbar-row class="sheet"></mat-toolbar-row>
</mat-toolbar>
