@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@angular/material/theming';

mat-form-field {
    width: 100%; 
}

.mat-form-field {
    line-height: 1.5;
}

body {
    font-family: 'Roboto';
}

html {
  overflow-y: scroll;
}

button:focus {
    outline:none;
}

.mat-row {
    min-height: 20px;
}

.mat-row:hover {
    background-color: rgba(gray,0.2)
}