

<form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
  <h1 mat-dialog-title>Afstammeling toevoegen aan {{data.displayName}}</h1>
  <div mat-dialog-content>
 <app-select-list (formReady)="addFormControl('descendant',$event)" placeholder="Afstammeling*" [dataService]="totemEntryDataService" [validation]="required"></app-select-list>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-button>Ok</button>
  </div>
</form> 