<div class="row">
  <div class="col-md-12">
    <h1 class="h1">{{ drank.displayName }}</h1>

    <div class="card card-accent-primary">
      <div class="card-header">
        Acties
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary">
          <i class="icon-pencil"></i> Wijzigen...
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
          <i class="icon-trash"></i> Verwijderen...
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-accent-primary ">
          <div class="card-header">
            Details
          </div>
          <div class="card-body">

            <div class="mb-2">
                <div class="badge badge-success"><a routerLink="/poef/drank-type/{{drank.typeId}}">{{drank.typeNaam}}</a></div>

           </div>

            <dl>
              <dt>Naam:</dt>
              <dd>{{ drank.displayName }}</dd>
              <dt>Huidige prijs:</dt>
              <dd>€{{ drank.prijs }}</dd>
              <dt>Categorie:</dt>
              <dd>{{ drank.typeNaam }}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-accent-primary">
        <div class="card-header">
          Prijsgeschiedenis
        </div>
        <div class="card-body">
          <app-drank-price-history [prices]="prices$"></app-drank-price-history>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
