<div class="animated fadeIn">

    <div class="card card-accent-primary">
        <div class="card-header">
            Acties
        </div>
        <div class="card-body">
            <div class="btn-container">
                <div class="row">
                    <button type="button" class="btn btn-success col-md-2" data-toggle="modal" (click)="openEditModal()">
                        <i class="icon-pencil"> Wijzigen...</i>
                    </button>
                    <button type="button" class="btn btn-success col-md-2" data-toggle="modal" (click)="openChangeTakModal()">
                        <i class="icon-people"> Tak wijzigen...</i>
                    </button>
                
                    <button type="button" class="btn btn-danger col-md-2" data-toggle="modal" disabled>
                        <i class="icon-drawer"> Verwijderen...</i>
                    </button>
                </div>
  
            </div>


        </div>
    </div>
    <div class="card card-accent-primary">
        <div class="card-header">
            Details
        </div>
       <div class="card-body">
           <div class="mb-2">
                <div class="badge badge-success"><a routerLink="/takken/{{leiding.takId}}">{{leiding.takNaam}}</a></div>
                <div *ngIf="leiding.auth0Id" class="badge badge-success">Heeft account</div>
           </div>
    
            <dl>
                <dt>Voornaam:</dt>
                <dd>{{leiding.voornaam}}</dd>
                <dt>Naam:</dt>
                <dd>{{leiding.naam}}</dd>
                <dt>Email:</dt>
                <dd>{{leiding.email}}</dd>
                <dt>Leiding sinds:</dt>
                <dd>{{leiding.leidingSinds | date:'dd-MMM-yyyy'}}</dd>
                <dt>Gestopt op:</dt>
                <dd>{{leiding.datumGestopt | date:'dd-MMM-yyyy'}}</dd>
            </dl>
       </div>
    </div>

</div>