<form [formGroup]="addEntryFormGroup" class="form-inline" (ngSubmit)="onSubmit()">

  <app-leiding-edit class="col-12" [leiding]="totemEntry.leiding"></app-leiding-edit>

  <div class="col-12">
    <h6>Totemgegevens</h6>
    <kng-core-autocomplete
    [formControl]="addEntryFormGroup.get('adjectief')"
    placeholder="Adjectief*" [source]="adjectiveDataService" [displayItemFn]="displayFn"></kng-core-autocomplete>
  </div>

  <div class="col-12">
    <kng-core-autocomplete [formControl]="addEntryFormGroup.get('totem')" placeholder="Totem*"
                           [source]="animalDataService" [displayItemFn]="displayFn"></kng-core-autocomplete>
  </div>


   <mat-form-field class="col-12">
    <input matInput [matDatepicker]="datumPicker" placeholder="Datum gekregen" formControlName="datumGekregen" [value]="totemEntry.datumGegeven">
    <mat-datepicker-toggle matSuffix [for]="datumPicker"></mat-datepicker-toggle>
    <mat-datepicker #datumPicker></mat-datepicker>
  </mat-form-field>

    <!--<kng-core-date-picker class="col-12" title="Datum gekregen" formControlName="datumGekregen"></kng-core-date-picker>-->

  <div class="col-12">
<kng-core-autocomplete [formControl]="addEntryFormGroup.get('voorouder')" placeholder="Voorouder" [source]="totemEntryDataService" [displayItemFn]="displayFn"></kng-core-autocomplete>
  </div> 
<div class="col-12">
<button type="submit" [disabled]="!addEntryFormGroup.valid" mat-raised-button class="float-right">Totemgegevens opslaan</button>
</div>

</form>
