<div class="modal-header">
  <h4 class="modal-title">Rollen wijzigen</h4>
  <button type="button" class="close" (click)="changeRoleModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<table class="table">
<thead>
  <tr>
    <th>Rol</th>
    <th>Actie</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let role of roles; let i = index; trackBy: trackBy">
<td>{{role.roleName}}</td>
<td>
  <button *ngIf="role.isActive" class="btn btn-danger" (click)="removeRole(role)">
    <span class="fa fa-remove" ></span>
  </button>
  <button *ngIf="!role.isActive" class="btn  btn-success" (click)="addRole(role)">
    <span class="fa fa-plus"></span>
  </button> 
</td>
  </tr>
</tbody>
</table>

</div>
<div class="modal-footer">

  <button (click)="changeRoleModalRef.hide()" class="btn btn-default">Sluiten</button>
</div>  