<form
  [formGroup]="addEntryFormGroup"
  class="form-inline"
  (ngSubmit)="onSubmit()"
>
  <div class="col-2">
    <lib-kng-autocomplete
      [formControl]="addEntryFormGroup.get('persoon')"
      placeholder="Persoon*"
      [source]="leidingDataService"
      [hasProgressBar]="true"
      [showAddNew]="true"
      [validationErrors]="addEntryFormGroup.get('persoon').errors"
      (createNew)="addNewPerson($event)"
      [displayItemFn]="displayItem"
            
    ></lib-kng-autocomplete>

  </div>

  <div class="col-2">
    <lib-kng-autocomplete [formControl]="addEntryFormGroup.get('adjectief')" placeholder="Adjectief*"
      [source]="adjectiveDataService" [hasProgressBar]="true"
      [validationErrors]="addEntryFormGroup.get('adjectief').errors"
      [displayItemFn]="displayItem"></lib-kng-autocomplete>
  </div>

  <div class="col-2">
    <lib-kng-autocomplete [formControl]="addEntryFormGroup.get('totem')" placeholder="Totem*"
      [source]="animalDataService" [hasProgressBar]="true"
      [validationErrors]="addEntryFormGroup.get('totem').errors"
      [displayItemFn]="displayItem"></lib-kng-autocomplete>
  </div>

 <!-- <mat-form-field class="col-2">
    <input
      matInput
      [matDatepicker]="datumPicker"
      placeholder="Datum gekregen"
      formControlName="datumGekregen"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="datumPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datumPicker></mat-datepicker>
  </mat-form-field>-->

  <div>
    <lib-date-picker title="Datum gekregen" formControlName="datumGekregen"></lib-date-picker>
  </div>

  <div class="col-2">
    <lib-kng-autocomplete [formControl]="addEntryFormGroup.get('voorouder')" placeholder="Peetje/Meetje"
      [source]="totemEntryDataService" [hasProgressBar]="true" [displayItemFn]="displayItem"
      [validationErrors]="addEntryFormGroup.get('voorouder').errors"></lib-kng-autocomplete>
  </div>
  <button
    type="submit"
    [disabled]="!addEntryFormGroup.valid"
    mat-raised-button
    class="col-2"
  >
    Toevoegen
  </button>
</form>


