<form [formGroup]='addLeidingFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title">Nieuwe persoon toevoegen</h4>
    <button type="button" class="close" (click)="addLeidingModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset>

      <div class="form-group">
        <div class="col-12">

          <ng-select formControlName="tak" [items]="takken" [virtualScroll]="true" [loading]="takkenLoading" bindLabel="naam" bindValue="id"
            placeholder="Kies een tak" (scrollToEnd)="fetchMore($event)">
            <ng-template ng-header-tmp>
              <small class="form-text text-muted">{{takken.length}} van {{pagination.totalCount}} geladen</small>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              {{item.naam}}
            </ng-template>
          </ng-select>
          <div class="text-danger" *ngIf='addLeidingFormGroup.get("tak").errors?.required && addLeidingFormGroup.get("tak").touched'>Dit veld is verplicht.</div>
          <div class="text-danger" *ngIf='addLeidingFormGroup.get("tak").errors?.min && addLeidingFormGroup.get("tak").touched'>Kies een geldige tak</div>
        </div>
      </div>


      <div class="form-group">
        <mat-form-field class="col-12">
          <input matInput placeholder="Voornaam" formControlName='voornaam'>
          <mat-error *ngIf='addLeidingFormGroup.get("voornaam").errors?.required && addLeidingFormGroup.get("voornaam").touched'>Voornaam is verplicht</mat-error>
        </mat-form-field>



      </div>

      <div class="form-group">

        <mat-form-field class="col-12">
          <input matInput placeholder="Naam" id="naam_id" formControlName='naam'>
          <mat-error *ngIf='addLeidingFormGroup.get("naam").errors?.required && addLeidingFormGroup.get("naam").touched'>Dit veld is verplicht.</mat-error>
        </mat-form-field>
      </div>



      <div class="form-group">

        <mat-form-field class="col-12">
          <input matInput placeholder='Email' id="email_id" formControlName='email'>
        </mat-form-field>
        <mat-error *ngIf='addLeidingFormGroup.get("email").errors?.email && addLeidingFormGroup.get("email").touched'>Geef een geldig emailadres</mat-error>
      </div>

      <mat-form-field class="col-12">
        <input matInput placeholder="Leiding sinds" matInput [matDatepicker]="leidingSindsPicker" formControlName="datumGestart">
        <mat-datepicker-toggle matSuffix [for]="leidingSindsPicker"></mat-datepicker-toggle>
        <mat-datepicker #leidingSindsPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12">
        <input matInput placeholder="Gestopt op" matInput [matDatepicker]="gestoptPicker" formControlName="datumGestopt">
        <mat-datepicker-toggle matSuffix [for]="gestoptPicker"></mat-datepicker-toggle>
        <mat-datepicker #gestoptPicker></mat-datepicker>
      </mat-form-field>
    </fieldset>

  </div>
  <div class="modal-footer">

    <button type="submit" [disabled]="!addLeidingFormGroup.valid" class="btn btn-success">Toevoegen</button>
  </div>
</form>