<div class="animated fadeIn row">
  <div class="col-md-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        Acties
      </div>
      <div class="card-body">
      <button type="button" class="btn btn-success" data-toggle="modal" (click)="openAddModal()">
        <i class="icon-plus"></i>Tak toevoegen...
      </button>
      </div>
    </div>
  <div class="card card-accent-primary">
    <div class="card-header">
      Takken
    </div>

      <kng-core-search-bar></kng-core-search-bar>
   <app-tak-table></app-tak-table>
    
  </div>
  </div>
</div>
 
