<form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
  <h3 mat-dialog-title>Nieuw persoon toevoegen</h3>
  <div mat-dialog-content>
    <p>Let op: kijk de ingevulde data goed na!</p>
    <mat-form-field>
      <mat-label>Voornaam</mat-label>
      <input matInput formControlName="firstname">
      <mat-error *ngIf="formGroup.get('firstname').errors?.required && formGroup.get('firstname').touched">Vul dit veld in.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Naam</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="formGroup.get('name').errors?.required && formGroup.get('name').touched">Vul dit veld in.
      </mat-error>
    </mat-form-field>
    
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" [disabled]="!formGroup.valid" mat-button>Ok</button>
  </div>
</form>