.leiding-container {
    display: flex;
    flex-direction: column;
    //max-height: 700px;
    min-width: 3OOpx;
}

.mat-table {
    overflow: auto;
    //max-height: 500px;
}

.mat-column-select {
    overflow: visible;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.leiding-checkbox {
    max-width: 24px;
    max-height: 24px;
    margin-right: 24px;
}

.mat-checkbox {
    width: 18px;
    height: 18px;
}

.mat-row:hover {
    background-color: #EEEEEE;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}