// Here you can add other styles
.cdk-overlay-container {
    z-index: 2000 !important;
}

i {
    margin-right: 10px;
}

ag-grid-angular {
    width: 100%;
    height: 30vh;
}

.ag-center-cols-container {
    width: 100%;
}

.card-header .btn-primary {
    margin-top: 0;
}