<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">403</h1>
          <h4 class="pt-3">Verboden!</h4>
          <p class="text-muted">Je hebt geen rechten om deze pagina te bekijken</p>
        </div>
        <div class="col-md-12">
         <p class="text-muted">Neem contact op met de IT-verantwoordelijke om rechten aan te vragen.</p>
        <button (click)="logout()" class="btn btn-primary center col-md-12">Uitloggen</button>
        </div>
        
      
      </div>
    </div>
  </div>
</div>