<!--Modal voor het wijzigen van takgegevens -->
    <form [formGroup]='editTakFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">{{tak.naam}}</h4>
          <button type="button" class="close" (click)="editModalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <fieldset>
            <div class="form-group">
             
              <mat-form-field class="col-12">
                <input matInput placeholder="Naam" id="naam_id" formControlName='naam'>
                <mat-error *ngIf='editTakFormGroup.get("naam").errors?.required && editTakFormGroup.get("naam").touched'>Dit veld is verplicht.</mat-error>
              </mat-form-field>
             
            </div>

            <div class="form-group"> 
              <mat-form-field class="col-12">
                <input matInput placeholder="Volgorde" type="number" id="volgorde_id" formControlName='volgorde' >

                <mat-error *ngIf='editTakFormGroup.get("volgorde").errors?.required && editTakFormGroup.get("volgorde").touched'>Dit veld is verplicht.</mat-error>
                <mat-error *ngIf='editTakFormGroup.get("volgorde").errors?.min && editTakFormGroup.get("volgorde").touched'>De waarde moet minstens 1 zijn.</mat-error>
              </mat-form-field>
              

            </div>

          </fieldset>

        </div>
        <div class="modal-footer">

          <button type="submit" [disabled]="!editTakFormGroup.valid" class="btn btn-success">Wijzigen</button>
        </div>   
    </form>
  

