
<form [formGroup]='addLeidingFormGroup' (ngSubmit)='onSubmit()' class="form-horizontal">
  <div class="modal-header">
    <h4 class="modal-title">Nieuwe persoon toevoegen</h4>
    <button type="button" class="close" (click)="addLeidingModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <fieldset>

      <div class="form-group">
        <div class="col-12">
          <kng-core-select-list formControlName="tak" placeholder="Tak" [dataService]="takDataService"></kng-core-select-list>
          <mat-error *ngIf='addLeidingFormGroup.get("tak").errors?.required && addLeidingFormGroup.get("tak").touched'>Tak
            is verplicht</mat-error>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="col-6">
          <input matInput placeholder="Voornaam*" formControlName='voornaam'>
          <mat-error *ngIf='addLeidingFormGroup.get("voornaam").errors?.required && addLeidingFormGroup.get("voornaam").touched'>Voornaam is verplicht</mat-error>
        </mat-form-field>
<mat-form-field class="col-6">
  <input matInput placeholder="Naam*" id="naam_id" formControlName='naam'>
  <mat-error *ngIf='addLeidingFormGroup.get("naam").errors?.required && addLeidingFormGroup.get("naam").touched'>Naam is
    verplicht</mat-error>
</mat-form-field>
      </div>


      <div class="form-group">

        <mat-form-field class="col-12">
          <input matInput placeholder='Email' id="email_id" formControlName='email'>
        </mat-form-field>
        <mat-error *ngIf='addLeidingFormGroup.get("email").errors?.email && addLeidingFormGroup.get("email").touched'>Geef een geldig emailadres</mat-error>
      </div>

   <!--   <mat-form-field class="col-12">
        <input matInput placeholder="Leiding sinds" matInput [matDatepicker]="leidingSindsPicker" formControlName="datumGestart">
        <mat-datepicker-toggle matSuffix [for]="leidingSindsPicker"></mat-datepicker-toggle>
        <mat-datepicker #leidingSindsPicker></mat-datepicker>
      </mat-form-field>-->

      <kng-core-date-picker class="col-12" title="Leiding sinds" formControlName="datumGestart"></kng-core-date-picker>

      <kng-core-date-picker class="col-12" title="Gestopt op" formControlName="datumGestopt"></kng-core-date-picker>

    </fieldset>

  </div>
  <div class="modal-footer">

    <button type="submit" [disabled]="!addLeidingFormGroup.valid" class="btn btn-success">Toevoegen</button>
  </div>
</form>
